.ArtistDetail {
  text-align: center;
}

.ArtistDetail-Carousel {
  margin-top: 50px;
}

.ArtistDetail h1 {
  margin-top: 0;
}

.ArtistDetail h3 {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.5em;
  color: white;
  background-color: black;
}

.ArtistDetail-item {
  color: white;
  text-decoration: none;
}

.ArtistDetail-item-selected {
  color: white;
  text-decoration: underline;
}
