.Menu {
  position: absolute; /* Reposition logo from the natural layout */
  left: 25px;
  top: 0px;
  z-index: 5;
  color: white;

  text-align: left;
}

.Menu-item {
  color: white;
  text-decoration: none;
}

.Menu-item-selected {
  color: white;
  text-decoration: underline;
}

.Menu-sub-item {
  color: white;
  text-decoration: none;
}
