.Menu {
  position: absolute; /* Reposition logo from the natural layout */
  left: 25px;
  top: 0px;
  z-index: 2;
  color: white;

  text-align: left;
}

.Menu h1 {
  margin: 0.1em 0;
  color: white;
}

@media (max-width: 1440px) {
  .Menu h1 {
    font-size: 2.0em;
  }
}
@media (max-width: 1280px) {
  .Menu h1 {
    font-size: 1.7em;
  }
}
@media (max-width: 900px) {
  .Menu h1 {
    font-size: 1.3em;
  }
}

.Menu-item {
  color: white;
  text-decoration: none;
}

.Menu-item-selected {
  color: white;
  text-decoration: underline;
}

.Menu-sub-item {
  color: white;
  text-decoration: none;
}
