@font-face {
  font-family: 'AkiraExpanded';
  font-weight: 300;
  src: url('./AkiraExpanded.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Helvetica', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  color: #f6f8fb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
